@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #302e2b;
}
/* Links inside the dropdown */
.dropdown-container a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: block;
    transition: 0.3s;
}

.dropdown-container a:hover {
    background-color: #575757;
}

/* Hover effect to show the dropdown */
.dropdown:hover .dropdown-container {
    display: block;
}

.dropdown {
    position: relative;
}

/* Garante que o body e o html ocupem toda a altura da página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Garante que a sidebar ocupe 100% da altura da página */
.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    background-color: #262421;
    padding-top: 20px;
    z-index: 2;
}

/* Estilo dos links da sidebar */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #111111;
}

.sidebar a img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Garante que o conteúdo principal tenha o tamanho correto */
.main-content {
    position: absolute;
    left: 190px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 30px;
    color: aliceblue;
    overflow-y: auto;
    z-index: 1;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-container {
    display: none;
    position: fixed; /* Muda de absolute para fixed */
    top: 0;
    left: 190px; /* O dropdown abre ao lado da sidebar */
    width: 300px;
    height: 100%; /* Faz o dropdown ocupar toda a altura da página */
    background-color: #141413;
    z-index: 3;
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for grande */
}

/* Links dentro do dropdown */
.dropdown-container a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

.dropdown-container a img {
    width: 25px;
    height: 25px;
}

.dropdown-container a:hover {
    background-color: #0f0f0f;
}

/* Hover effect para mostrar o dropdown */
.dropdown:hover .dropdown-container {
    display: block;
}
