@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #302e2b;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #111111;
    border-radius: 10px;
    position: relative;
}

h1 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

.container h1 img {
    width: 55px;
    height: 55px;
}

.container h1 img{
    width: 55px;
    height: 55px
}

input {
    width: 70%;
    height: 45px;
    padding: 8px;
    font-size: 16px;
    border: none;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #262421;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha os elementos verticalmente */
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #7e7e7e;
}

li button {
    margin-right: 1px; /* Espaçamento entre os botões */
}

li button:last-child {
    margin-right: 0; /* Remove a margem do último botão */
}

.deleteButton {
    margin-left: 5px;
}



.paginas-button{
    position: relative;
    width: 9.7%;
    height: 3.8rem;
    background: #dd812b;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s;
    /* Typo */
    line-height: 60px;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
}

.paginas-button:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ad6522;;
    content: "";
    z-index: -2;
    transition: transform 0.3s;
}

.paginas-button:hover::after {
    transform: translateY(-80%);
    transition: transform 0.3s;
}
.adicionar-button {
    position: relative;
    width: 18.2%;
    height: 3.8rem;
    background: #3fbb49;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s;
    /* Typo */
    line-height: 60px;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
}
  
.adicionar-button:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2b9e27;
    content: "";
    z-index: -2;
    transition: transform 0.3s;
}
  
.adicionar-button:hover::after {
    transform: translateY(-80%);
    transition: transform 0.3s;
}

.button-effect {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 0 15px;
    background: #4d73db;
    margin: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button-effect::after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3d40d1;
    content: "";
    z-index: -1;
    transition: transform 0.3s;
}

.button-effect:hover::after {
    transform: translateY(-80%);
}

.button-effect:hover {
    color: #fff;
}

.progress-button{
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 0 15px;
    background: #b34ddb;
    margin: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.progress-button::after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7b2d99;
    content: "";
    z-index: -1;
    transition: transform 0.3s;
}

.progress-button:hover::after {
    transform: translateY(-80%);
}

.progress-button:hover {
    color: #fff;
}

.remover-button {
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 0 15px;
    background: #db4d4d;
    margin: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.remover-button::after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d13d3d;
    content: "";
    z-index: -1;
    transition: transform 0.3s;
}

.remover-button:hover::after {
    transform: translateY(-80%);
}

.remover-button:hover {
    color: #fff;
}

/* Links inside the dropdown */
.dropdown-container a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: block;
    transition: 0.3s;
}

.dropdown-container a:hover {
    background-color: #575757;
}

/* Hover effect to show the dropdown */
.dropdown:hover .dropdown-container {
    display: block;
}

.dropdown {
    position: relative;
}

/* Garante que a sidebar ocupe 100% da altura da página */
.sidebar {
    height: 100%;
    width: 190px;
    margin-top: -30px;
    position: fixed;
    background-color: #262421;
    padding-top: 20px;
    z-index: 2;
}

/* Estilo dos links da sidebar */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #111111;
}

.sidebar a img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Garante que o conteúdo principal tenha o tamanho correto */
.main-content {
    position: absolute;
    left: 190px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 30px;
    color: aliceblue;
    overflow-y: auto;
    z-index: 1;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-container {
    display: none;
    position: fixed; /* Muda de absolute para fixed */
    top: 0;
    left: 190px; /* O dropdown abre ao lado da sidebar */
    width: 300px;
    height: 100%; /* Faz o dropdown ocupar toda a altura da página */
    background-color: #141413;
    z-index: 3;
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for grande */
}

/* Links dentro do dropdown */
.dropdown-container a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #dddddd;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

.dropdown-container a img {
    width: 25px;
    height: 25px;
}

.dropdown-container a:hover {
    background-color: #0f0f0f;
}

/* Hover effect para mostrar o dropdown */
.dropdown:hover .dropdown-container {
    display: block;
}



@media (max-width: 1165px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input {
        width: calc(100% - 1px);  /* Subtrai o total das margens */
        height: 40px;
        padding: 8px;  /* Padding interno igual dos dois lados */
        margin-left: 1px;  /* Margem à esquerda */
        box-sizing: border-box;  /* Garante que o padding e a margem não aumentem a largura total */
    }

    .adicionar-button {
        width: 100%;  /* Faz o botão de adicionar ocupar toda a largura */
        height: 50px;
        margin-top: 15px;
    }

    .paginas-button {
        width: 100%;  /* Faz o botão de adicionar ocupar toda a largura */
        height: 50px;
        margin-top: 15px;
    }

    li {
        padding: 10px;
    }

    li button {
        font-size: 0.8rem;
    }

    .button-effect, .remover-button, .progress-button {
        font-size: 0.8rem;
        height: 35px;  /* Reduz a altura dos botões */
        padding: 0 10px;
    }
}

@media (max-width: 1629px) {
    /* Ajuste para o menu vertical fixo */
    .sidebar {
        position: fixed;
        top: 30px; /* Ajuste o valor para combinar com o primeiro código */
        left: 0;
        height: calc(100% - 20px); /* Ajusta a altura para compensar o `top` */
        width: 50px; /* Largura reduzida da barra lateral */
        background-color: #262421;
        padding-top: 20px;
        font-size: 14px;
        z-index: 10;
    }

    .dropdown-container {
        display: none;
        position: fixed; /* Muda de absolute para fixed */
        top: 0;
        left: 50px; /* O dropdown abre ao lado da sidebar */
        width: 300px;
        height: 100%; /* Faz o dropdown ocupar toda a altura da página */
        background-color: #141413;
        z-index: 3;
        overflow-y: auto; /* Adiciona rolagem se o conteúdo for grande */
    }
    
    a.dropdown-btn{
        color: transparent; /* O texto fica invisível, mas o espaço é mantido */
    }

  
    .container {
        width: calc(100% - 70px); /* A largura da container é 100% da tela menos 70px da sidebar */
        margin: 30px auto;
        padding: 20px;
        background-color: #111111;
        border-radius: 10px;
        position: relative;
        margin-left: 60px; /* Distância da sidebar */
        box-sizing: border-box; /* Garante que o padding e a borda sejam considerados no cálculo da largura */
        overflow-x: auto; /* Garante que não ultrapasse a tela */
    }  
}

